/* HOME PAGE*/

body {
  background-color: rgb(240, 98, 54);
  color: #ecf2ff;
  font-family: 'Courier New', Courier, monospace;
}
main {
  grid-area: main;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  font-size: larger;
}

nav ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

a.active,
a:hover {
  background: rgb(60, 65, 66);
  transition: 0.5s;
}

nav ul li a {
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
  color: #ecf2ff;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

/* FOOTER */
footer {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  padding: 0.5em;
  background-color: rgb(60, 65, 66);
}

/* HEADER */
header h1 {
  display: flex;
  justify-content: center;
}

header h2 {
  display: flex;
  justify-content: center;
}

main p {
  display: flex;
  justify-content: center;
}

/* IMAGE */
.image {
  width: 300px;
  display: block;
  height: 400px;
}

.image img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: block;
  margin-left: 35em;
  margin-top: 7em;
}

/* PROJECT PAGE */
.project {
  background-color: rgb(228, 32, 32);
  color: #ecf2ff;
  padding-top: 1em;
  margin: 0.6em;
  border-radius: 0.6em;
  position: relative;
  height: 31em;
}

.divide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25em;
}

.divide img {
  width: 66%;
  height: auto;
  margin-left: 5em;
}

.project-nav {
  grid-area: nav;
}

/* CONTACT FORM */

h1 {
  color: #ecf2ff;
  text-align: center;
  font-size: 3.75em;
  font-family: 'Courier New', Courier, monospace;
}

input {
  background-color: #ecf2ff;
  width: 70%;
  margin-left: 12%;
  font-size: 1.25em;
  padding: 1em 1em;
  border-color: #1d1e18;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 0.625em;
}

textarea {
  background-color: #ecf2ff;
  width: 70%;
  margin-left: 12%;
  font-size: 1.25em;
  padding: 1em 1em;
  border-radius: 1.25em;
  border-color: #1d1e18;
  margin-bottom: 1.5625em;
  font-family: 'Courier New', Courier, monospace;
}

input:focus-within {
  outline: none;
  border-color: rgb(0, 213, 255);
  border-width: 3px;
}

textarea:focus-within {
  outline: none;
  border-color: rgb(0, 213, 255);
  border-width: 0.1875em;
}

button {
  background-color: rgb(60, 65, 66);
  border-radius: 1em;
  border-color: #1d1e18;
  font-size: 1em;
  padding: 0.6em 1em;
  text-align: center;
  display: flex;
  margin: auto;
  color: #ecf2ff;
}

button:hover {
  background-color:rgb(0, 213, 255);;
  cursor: pointer;
}

.round {
  padding-top: 5em;
}

/* DEMO PAGE */
main iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.8em;
}

.main-video {
  padding-top: 1.35em;
}

iframe {
  border: none;
}


  
  


